#######################################
# Don't track content of these folders#
#######################################
.*/
###################
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.ko
*.cmd
*.symvers
*.mod.c
*.order
############
# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
###########
#this file#
###########
.gitignore
